# Frontend (React)
frontend/node_modules/
frontend/build/

# Backend (Flask)
backend/venv/
backend/__pycache__/
backend/*.pyc

# Ignore environment files
.env

# General
*.log
.DS_Store  # macOS file
